%flex {
  display: flex;
  flex-direction: column;
}

@mixin text($size: null, $decor: none, $uppercase: uppercase) {
  @if $size == null {
    font-size: 1.5rem;
  } @else {
    font-size: $size;
  }
  text-decoration: $decor;
  text-transform: $uppercase;
}

.heading {
  @extend %flex;
	width: 100%;
	h1 {
		text-align: center;
		margin: 30px 0;
		font-size: 3rem;
	}
	nav {
		width: 100%;
		ul {
      display: flex;
      justify-content: center;
			li {
        list-style: none;
				a {
					@include text();
					color: scale-color($forthColor, $lightness: -10%);
					margin: 0 20px;
					&:hover {
						background-color: $thirdColor;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 750px) {
	.heading {
		nav {
      /*display: none;*/
      width: 300px;
      margin: 0 auto;
			ul {
        display: flex;
        flex-direction: column;
        align-items: center;
				background-color: $thirdColor;
				border: 3px solid black;
				li {
					a {
						@include text(2rem);
						color: black;
						&:hover {
							background-color: $secondaryColor;
						}
					}
				}
			}
		}
	}
}
