* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

body {
  min-width: 380px;
}

$primaryColor: #4e859f;
$secondaryColor: #ff9cee;
$thirdColor: #e7ffac;
$forthColor: #ffbebc;
