* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace; }

body {
  min-width: 380px; }

.heading {
  display: flex;
  flex-direction: column; }

.heading {
  width: 100%; }
  .heading h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 3rem; }
  .heading nav {
    width: 100%; }
    .heading nav ul {
      display: flex;
      justify-content: center; }
      .heading nav ul li {
        list-style: none; }
        .heading nav ul li a {
          font-size: 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          color: #ff9390;
          margin: 0 20px; }
          .heading nav ul li a:hover {
            background-color: #e7ffac; }

@media only screen and (max-width: 750px) {
  .heading nav {
    /*display: none;*/
    width: 300px;
    margin: 0 auto; }
    .heading nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #e7ffac;
      border: 3px solid black; }
      .heading nav ul li a {
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        color: black; }
        .heading nav ul li a:hover {
          background-color: #ff9cee; } }

img {
  max-height: 250px; }

.gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  padding: 10px; }

@media only screen and (max-width: 600px) {
  .gallery {
    flex-direction: column; }
  img {
    max-width: 60vw;
    min-width: 200px;
    align-self: center; } }
